<head th:fragment="head">
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Admin Dashboard | Edurock - Education LMS Template</title>
    <link
            rel="shortcut icon"
            type="image/x-icon"
            href="../../assets/images/favicon.ico"
    >
    <!-- link stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/icofont.min.css" th:href="@{/assets/css/icofont.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/popup.css}">

    <link rel="stylesheet" th:href="@{/assets/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/video-modal.css}">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>