<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="bg-darkblack">
    <div class="container pt-65px">
        <!-- footer top or subscription -->
        <div>
            <div
                    class="grid grid-cols-1 md:grid-cols-2 gap-y-5 md:gap-y-0 items-center pb-45px border-b border-darkcolor"
            >
                <div data-aos="fade-up">
                    <a href="#"
                    ><img th:src="@{/images/logo/logo_2.png}" alt=""
                    ></a>
                </div>
                <div>
                    <form
                            class="max-w-form-xl md:max-w-form-md lg:max-w-form-lg xl:max-w-form-xl 2xl:max-w-form-2xl bg-deepgray ml-auto rounded relative"
                            data-aos="fade-up"
                    >
                        <input
                                type="email"
                                placeholder="Enter your email here"
                                class="text-whiteColor h-62px pl-15px focus:outline-none border border-deepgray focus:border-whitegrey bg-transparent rounded w-full"
                        >
                        <button
                                type="submit"
                                class="px-3 md:px-10px lg:px-5 bg-primaryColor hover:bg-deepgray text-xs lg:text-size-15 text-whiteColor border border-primaryColor block rounded absolute right-0 top-0 h-full"
                        >
                            Subscribe Now
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- footer main -->
        <section>
            <div
                    class="grid grid-cols-12 gap-30px md:gap-y-5 lg:gap-y-0 pt-60px pb-50px md:pt-30px md:pb-30px lg:pt-110px lg:pb-20 mb-5"
            >
                <!-- left -->
                <div
                        class="col-start-1 col-span-12 md:col-span-6 lg:col-span-4 mr-30px"
                        data-aos="fade-up"
                >
                    <h4 class="text-size-22 font-bold text-whiteColor mb-3">
                        About us
                    </h4>
                    <p
                            class="text-base lg:text-sm 2xl:text-base text-darkgray mb-30px leading-1.8 2xl:leading-1.8"
                    >
                        orporate clients and leisure travelers has been relying on
                        Groundlink for dependable safe, and professional chauffeured car
                        end service in major cities across World.
                    </p>
                    <ul class="flex gap-3 lg:gap-2 2xl:gap-3" data-aos="fade-up">
                        <li>
                            <a
                                    href="#"
                                    class="w-11 md:w-10 2xl:w-11 h-11 md:h-10 2xl:h-11 leading-11 md:leading-10 2xl:leading-11 text-whitegrey bg-darkgray bg-opacity-10 hover:text-whiteColor dark:text-whiteColor-dark dark:bg-whiteColor dark:hover:bg-secondaryColor dark:hover:text-whiteColor rounded-full text-center"
                            ><i class="icofont-facebook"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="w-11 md:w-10 2xl:w-11 h-11 md:h-10 2xl:h-11 leading-11 md:leading-10 2xl:leading-11 text-whitegrey bg-darkgray bg-opacity-10 hover:text-whiteColor dark:text-whiteColor-dark dark:bg-whiteColor dark:hover:bg-secondaryColor dark:hover:text-whiteColor rounded-full text-center"
                            ><i class="icofont-twitter"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="w-11 md:w-10 2xl:w-11 h-11 md:h-10 2xl:h-11 leading-11 md:leading-10 2xl:leading-11 text-whitegrey bg-darkgray bg-opacity-10 hover:text-whiteColor dark:text-whiteColor-dark dark:bg-whiteColor dark:hover:bg-secondaryColor dark:hover:text-whiteColor rounded-full text-center"
                            ><i class="icofont-vimeo"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="w-11 md:w-10 2xl:w-11 h-11 md:h-10 2xl:h-11 leading-11 md:leading-10 2xl:leading-11 text-whitegrey bg-darkgray bg-opacity-10 hover:text-whiteColor dark:text-whiteColor-dark dark:bg-whiteColor dark:hover:bg-secondaryColor dark:hover:text-whiteColor rounded-full text-center"
                            ><i class="icofont-linkedin"></i
                            ></a>
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="w-11 md:w-10 2xl:w-11 h-11 md:h-10 2xl:h-11 leading-11 md:leading-10 2xl:leading-11 text-whitegrey bg-darkgray bg-opacity-10 hover:text-whiteColor dark:text-whiteColor-dark dark:bg-whiteColor dark:hover:bg-secondaryColor dark:hover:text-whiteColor rounded-full text-center"
                            ><i class="icofont-skype"></i
                            ></a>
                        </li>
                    </ul>
                </div>
                <!-- middle 1 -->
                <div
                        class="col-start-1 col-span-12 md:col-start-7 lg:col-start-5 md:col-span-6 lg:col-span-2"
                        data-aos="fade-up"
                >
                    <h4 class="text-size-22 font-bold text-whiteColor mb-3">
                        Usefull Links
                    </h4>
                    <ul class="flex flex-col gap-y-3">
                        <li>
                            <a
                                    href="#"
                                    class="text-darkgray relative hover:text-primaryColor after:transition-all after:duration-300 after:w-0 after:h-2px after:absolute after:bg-primaryColor hover:after:w-full after:bottom-0 after:left-0"
                            >About Us</a
                            >
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="text-darkgray relative hover:text-primaryColor after:transition-all after:duration-300 after:w-0 after:h-2px after:absolute after:bg-primaryColor hover:after:w-full after:bottom-0 after:left-0"
                            >Teachers</a
                            >
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="text-darkgray relative hover:text-primaryColor after:transition-all after:duration-300 after:w-0 after:h-2px after:absolute after:bg-primaryColor hover:after:w-full after:bottom-0 after:left-0"
                            >Partner</a
                            >
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="text-darkgray relative hover:text-primaryColor after:transition-all after:duration-300 after:w-0 after:h-2px after:absolute after:bg-primaryColor hover:after:w-full after:bottom-0 after:left-0"
                            >Room-Details</a
                            >
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="text-darkgray relative hover:text-primaryColor after:transition-all after:duration-300 after:w-0 after:h-2px after:absolute after:bg-primaryColor hover:after:w-full after:bottom-0 after:left-0"
                            >Gallery</a
                            >
                        </li>
                    </ul>
                </div>
                <!-- middle 2 -->
                <div
                        class="col-start-1 col-span-12 md:col-start-1 lg:col-start-7 md:col-span-6 lg:col-span-3 pl-0 2xl:pl-60px"
                        data-aos="fade-up"
                >
                    <h4 class="text-size-22 font-bold text-whiteColor mb-3">
                        Course
                    </h4>
                    <ul class="flex flex-col gap-y-3">
                        <li>
                            <a
                                    href="#"
                                    class="text-darkgray relative hover:text-primaryColor after:transition-all after:duration-300 after:w-0 after:h-2px after:absolute after:bg-primaryColor hover:after:w-full after:bottom-0 after:left-0"
                            >Ui Ux Design</a
                            >
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="text-darkgray relative hover:text-primaryColor after:transition-all after:duration-300 after:w-0 after:h-2px after:absolute after:bg-primaryColor hover:after:w-full after:bottom-0 after:left-0"
                            >Web Development</a
                            >
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="text-darkgray relative hover:text-primaryColor after:transition-all after:duration-300 after:w-0 after:h-2px after:absolute after:bg-primaryColor hover:after:w-full after:bottom-0 after:left-0"
                            >Business Strategy</a
                            >
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="text-darkgray relative hover:text-primaryColor after:transition-all after:duration-300 after:w-0 after:h-2px after:absolute after:bg-primaryColor hover:after:w-full after:bottom-0 after:left-0"
                            >Softwere Development</a
                            >
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="text-darkgray relative hover:text-primaryColor after:transition-all after:duration-300 after:w-0 after:h-2px after:absolute after:bg-primaryColor hover:after:w-full after:bottom-0 after:left-0"
                            >Business English</a
                            >
                        </li>
                    </ul>
                </div>
                <!-- right -->
                <div
                        class="col-start-1 col-span-12 md:col-start-7 lg:col-start-10 md:col-span-6 lg:col-span-3 pl-0 2xl:pl-50px"
                        data-aos="fade-up"
                >
                    <h4 class="text-size-22 font-bold text-whiteColor mb-3">
                        Recent Post
                    </h4>
                    <ul class="flex flex-col gap-y-5">
                        <li>
                            <a class="flex items-center gap-3 group cursor-pointer">
                                <div>
                                    <img
                                            th:src="@{/images/footer/footer__1.png}"
                                            alt=""
                                            class="w-61px h-54px"
                                    >
                                </div>
                                <div>
                                    <p class="text-xs text-darkgray mb-7px">02 Apr 2024</p>
                                    <h6
                                            class="text-size-15 text-whiteColor font-bold group-hover:text-primaryColor transition-all duration-300"
                                    >
                                        Best Your Business
                                    </h6>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a class="flex items-center gap-3 group cursor-pointer">
                                <div>
                                    <img
                                            th:src="@{/images/footer/footer__2.png}"
                                            alt=""
                                            class="w-61px h-54px"
                                    >
                                </div>
                                <div>
                                    <p class="text-xs text-darkgray mb-7px">02 Apr 2024</p>
                                    <h6
                                            class="text-size-15 text-whiteColor font-bold group-hover:text-primaryColor transition-all duration-300"
                                    >
                                        Keep Your Business
                                    </h6>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="flex items-center gap-3 group cursor-pointer">
                                <div>
                                    <img
                                            th:src="@{/images/footer/footer__3.png}"
                                            alt=""
                                            class="w-61px h-54px"
                                    >
                                </div>
                                <div>
                                    <p class="text-xs text-darkgray mb-7px">02 Apr 2024</p>
                                    <h6
                                            class="text-size-15 text-whiteColor font-bold group-hover:text-primaryColor transition-all duration-300"
                                    >
                                        Nice Your Business
                                    </h6>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- footer copyright  -->
        <div>
            <div
                    class="grid grid-cols-1 sm:grid-cols-2 gap-5 py-5 lg:py-10 items-center border-t border-darkcolor"
            >
                <div>
                    <p class="text-base text-darkgray">
                        © 2024 Powered by
                        <a href="#" class="hover:text-primaryColor">Edurock</a>. All
                        Rights Reserved.
                    </p>
                </div>

                <div>
                    <ul class="flex items-center justify-end">
                        <li>
                            <a
                                    href="#"
                                    class="text-base text-darkgray hover:text-primaryColor pr-4 border-r border-darkgray leading-1"
                            >Terms of Use
                            </a>
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="text-base text-darkgray hover:text-primaryColor pl-4"
                            >
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>