<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head   th:fragment="css-content">
    <meta charset="UTF-8">

    <link
            rel="shortcut icon"
            type="image/x-icon"
            href="../../assets/images/favicon.ico"
    >
    <!-- link stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/icofont.min.css}" >
    <link rel="stylesheet" th:href="@{/css/popup.css}" >

    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}" >
    <link rel="stylesheet" th:href="@{/css/video-modal.css}" >
    <link rel="stylesheet" th:href="@{/css/aos.css}" >
    <link rel="stylesheet" th:href="@{/css/style.css}" >
</head>
<body>


<script type="text/javascript" th:src="@{/js/swiper-bundle.min.js}"></script>
<script type="text/javascript"  th:src="@{/js/isotope.pkgd.min.js}"></script>
<script type="text/javascript"  th:src="@{/js/accordion.js}"></script>
<script type="text/javascript"  th:src="@{/js/chart.js}"></script>
<script type="text/javascript"  th:src="@{/js/count.js}"></script>
<script  type="text/javascript" th:src="@{/js/countdown.js}"></script>
<script  type="text/javascript" th:src="@{/js/counterup.js}"></script>
<script  type="text/javascript" th:src="@{/js/dropdown.js}"></script>
<script  type="text/javascript" th:src="@{/js/filter.js}"></script>
<script  type="text/javascript" th:src="@{/js/mobileMenu.js}"></script>
<script  type="text/javascript" th:src="@{/js/modal.js}"></script>
<script  type="text/javascript" th:src="@{/js/popup.js}"></script>
<script  type="text/javascript" th:src="@{/js/preloader.js}"></script>
<script type="text/javascript"  th:src="@{/js/scrollUp.js}"></script>
<script  type="text/javascript" th:src="@{/js/slider.js}"></script>
<script type="text/javascript"  th:src="@{/js/smoothScroll.js}"></script>
<script type="text/javascript"  th:src="@{/js/stickyHeader.js}"></script>
<script type="text/javascript"  th:src="@{/js/tabs.js}"></script>
<script  type="text/javascript" th:src="@{/js/theme.js}"></script>
<script type="text/javascript"  th:src="@{/js/videoModal.js}"></script>
<script  type="text/javascript"  th:src="@{/js/vanilla-tilt.js}"></script>
<script  type="text/javascript" th:src="@{/js/aos.js}"></script>
<script  type="text/javascript" th:src="@{/js/main.js}"></script>

</body>
</html>